/* Custom Datepicker styles */
.react-datepicker {
    font-size: 16px;
    border: none;
  }
  
  .react-datepicker__header {
    background-color: white;
    border-bottom: none;
  }
  
  .react-datepicker__day--selected,
  .react-datepicker__day--in-selecting-range,
  .react-datepicker__day--in-range {
    background-color: #26BED6;
    color: white;
    border-radius: 100%;
  }
  
  .react-datepicker__day--disabled {
    text-decoration: line-through;
    color: gray;
  }
  
  
  
  .react-datepicker__day {
    margin: 0.4rem;
  }
  
  .react-datepicker__navigation{
    margin-left: -40px;
    padding-right: 20px;
  }